* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;  
}

body {
  background: #fff;
}

:root {
  --background: #1e1e21;
  --background-light: #21212B;

  --primary: #FFFFFF;
  --secondary: #0b5631;
  --terciary: #bbbbbb;
}

body, input, button {
  color: var(--primary);
  font: 400 16px 'Roboto', sans-serif;
}

body {
  background: var(--background);
}

button:hover {
  cursor: pointer;
}